@model int

<a class="btn btn-outline-warning orangetext" style="height:auto"  role="button" title="Убрать из избранного" asp-controller="favoriteProduct" asp-action="Delete" asp-route-productId=@Model ><i class="bi bi-x-lg" style="font-size: auto;color: rgb(255, 0, 0);"></i></a>
