<form method="post">
  <!-- Email input -->

   <div class="row text-center" >
      <div class="col-6 card shadow" style="margin-left:auto;margin-right:auto">
          <br />
          <div class="col">
            <label for="inputName" >Введите логин:</label>
            <div>
              <input type="text" class="form-control" name="userName"/>
            </div>
            <br />
            <label for="inputPhone" >Введите пароль:</label>
            <div>
              <input type="password"  class="form-control" name="password" />
            </div>
            <br />
            <div> 
                 <label for="RememberMe">
                     @Html.CheckBox("RememberMe", true) Запомнить меня?
                 </label>
           </div>
            <br />
           <br />
          <!-- Submit button -->
          <button type="submit" class="btn btn-warning btn-block" asp-controller="Authorization" asp-action="Login">Войти</button>
           <br />
          <!-- Register buttons -->
          <div class="text-center">
            <p> 
             <a class="btn btn-outline-warning btn-block" style="color:orange" asp-controller="Authorization" asp-action="Registration"  role="button" title="Регистрация нового пользователя">Регистрация нового пользователя</a>
           </p>
          </div> 
         </div>
       </div>
    </div>
</form>