@using ViewModels
@model DanceDirectionViewModel           

<div class="col-md-4">
      <div class="card shadow" style="margin:20px">  
          <a  class="graytext" style="padding-left:10px;padding-top:5px" href="/DanceDirections/PageLesson/@Model.Id"><h5>@Model.Name</h5> </a>
          <img src= "~/@Model.MainPhoto" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" loading="lazy" sizes="(max-width: 300px,max-height: 310px) 100vw, 380px"></a>
      </div>
</div>