@using OnlineShopWebApp.Areas.Admin.Models
@model ChangePassword
<h3>Смена пароля для пользователя "@Model.UserName"</h3>

<form method="post">
    <div class="card  text-center grayCard"> 
       <div class="card-body">
           <div class="row" >
              <div class="col-md-12">
                   <br />
                    <input type="hidden" value ="@Model?.UserName" name="UserName">

                    <div class="validation" asp-validation-summary="ModelOnly" style="color:darkred;font-weight:bold"></div>
                    <br />
                    <div class="form-group">
                       <label asp-for="Password"  class="control-label boldText" >Введите пароль:</label>
                       <input type="password" asp-for="Password"  class="form-control"/>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group">
                       <label asp-for="SecondPassword"  class="control-label boldText">Повторите пароль:</label>
                       <input type="password" asp-for="SecondPassword"  class="form-control"/>
                        <span asp-validation-for="SecondPassword" class="text-danger"></span>
                    </div>
                   <br />
                   <div class="Buttons d-flex justify-content-center" >          
                          <button type="submit"  class="btn btn-warning btn-block" style="width:16rem;margin-left:auto; margin-right:auto" asp-area="Admin" asp-controller="User">Сохранить изменения</button>
                   </div>
                   <br />
                 </div>
               
            </div>
           </div>
      </div>
</form>