  <div class="col-3">
    <br />
     <div class="row" >
        <a class="orangetext" asp-area="Admin" asp-controller="DanceDirectionLesson" asp-action="Index"  title="Записи на занятие">Записи на занятие</a>
    </div>  
    <div class="row" >
       <a class="orangetext"  asp-area="Admin" asp-controller="Order" asp-action="Index"  title="Заказы">Заказы</a>
    </div>  
    <div class="row" >
        <a class="orangetext" asp-area="Admin" asp-controller="DanceDirection" asp-action="Index"  title="Направления">Направления</a>
    </div>      
    <div class="row" >
        <a class="orangetext" asp-area="Admin" asp-controller="Product" asp-action="Index"  title="Товары">Товары</a>
    </div>  
    <div class="row" >
        <a class="orangetext" asp-area="Admin" asp-controller="User" asp-action="Index"  title="Пользователи">Пользователи</a>
    </div>
    <div class="row" >
        <a class="orangetext" asp-area="Admin" asp-controller="Role" asp-action="Index"  title="Роли">Роли</a>    
    </div>
    <div class="row" >
        <a class="orangetext" asp-area="Admin" asp-controller="TextEdit" asp-action="Edit"  title="Текстовые страницы">Текстовые страницы</a>
    </div>
</div>