@model int

<a class="btn btn-outline-warning orangetext" style="height:auto"  role="button" title="Добавить в избранное" asp-controller="favoriteProduct" asp-action="Add" asp-route-productId=@Model ><i class="bi bi-heart-fill"></i></a>