@using ViewModels
@model TextPageViewModel
<body>    
    <br />
    <br />
   <div class="card" style="width:800px;margin-left:auto;margin-right:auto">      
        <div class="row"> 
            <br />
    <br />
           <div class="col card shadow">
                <p><img src="https://sun1-20.userapi.com/c856036/v856036688/31358/0OMOQq-zD9E.jpg?ava=1" class="logo-200" alt="Клуб " Танцующие="" Люди"="" |="" Танцы="" в="" Сыктывкаре"="" align="right" 
              vspace="5" hspace="5">
               <br />
               <br />
              @Model.AboutUsText;
              <br />
              <br />
              ---------------------------------------------
              <br />
              @Model.AboutUsFooter;
             </p>
             </div> 
         </div>
     </card> 
 </body>
