@using ViewModels
@model DanceDirectionViewModel
@{
    ViewData["Title"] = "Редактирование направления";
}
<form method="post" enctype="multipart/form-data"> 
    <div class="card  text-center grayCard"> 
         <div class="card-body">
            <div class="row" >
                <div class="col-md-12"> 
                     <input type="hidden" value ="@Model?.Id" name="Id"><br/>
                    <br />
                    <div>
                       <label asp-for="Name" class="control-label boldText">Название направления</label>
                       <input type="text" asp-for="Name"  class="form-control" value ="@Model?.Name"/>
                       <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <br />
                    <div>
                       <label asp-for="Description" for="inputDescription" class="boldText" >Описание направления:</label>
                       <textarea asp-for="Description" style="height:50%;width:auto">@Model?.Description</textarea>  
                       <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div>
                       <label asp-for="SoloDoubleSign"  class="control-label boldText" >Направление парное?:</label>
                       <input type="checkbox" id="SoloDoubleSign" name="SoloDoubleSign" @((Model?.SoloDoubleSign== false ? "" : "checked")) />
                    </div>
                     <br /> 
                    <img  src= "~/@Model.MainPhoto"  style="max-width:200px; max-height:200px">
                    <div>
                        <label>Загрузить новое изображение</label>
                        <input type="file" name="UploadedFile" class="form-control" value=@Model.MainPhoto>
                       <span asp-validation-for="Description" class="text-danger"></span>
                    </div>  
                    <br />
                    <div>  
                   </div>  
                </div>
            </div>
             <br /> 
             <br />
              <br />
             <button type="submit"  class="btn btn-warning btn-block" style="width:16rem;margin-left:auto; margin-right:auto"  asp-area="Admin" asp-controller="DanceDirection" >Сохранить изменения</button>
         </div>
       </div>
        <br />
    <div/>
 </form>
