@using ViewModels
@model List<DanceDirectionViewModel>
@{
    ViewData["Title"] = "Направления";
    int index = 0;
}
<div class="row" >
    @await Html.PartialAsync("AdminLeftMenu")

    <div class="col-9">
        <h3 class="orangetext">Направления</h3>
    <br />
    <td><a asp-area="Admin" asp-controller="DanceDirection" asp-action="Add" >Добавить новое направление</a></td>
    <br />
    <br />
    <div class="card-7"> 
           <table class="table">
                <thead class="darkslategrayText">
                    <tr>
                        <th>№</th>
                        <th>Название</th>
                        <th>Направление парное?</th>
                        <th></th>     
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    { 
                        string RemoveModalId = "RemoveModal" + item.Id + 1;
                        <tr>
                            <td>@(index=index + 1)</td>
                            <td>@item.Name</td> 
                            <td>@item.SoloDoubleSign</td>
                            <td><a asp-area="Admin" asp-controller="DanceDirection" asp-action="Edit"   asp-route-danceDirectionId=@item.Id>Редактировать</a></td>
                            @if (index < 7)
                            {
                                <td><a  href="#" style="color:Gray">Удалить</a></td>
                            }
                            else
                            {
                                 <td><a data-toggle="modal" data-target="#@RemoveModalId">Удалить</a></td>
                                <div class="modal fade" id="@RemoveModalId" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Внимание</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <p>Вы действительно хотите удалить направление?</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Нет</button>
                                                <a class="button"  href="/Admin/DanceDirection/Delete?danceDirectionId=@item.Id">Да</a>
                                            </div>
                                        </div>
                                    </div>
                                 </div> 

                            }
                       </tr>
                   }
                </tbody>
            </table>  
            <br />
            <br /> 
            
    </div>
   </div>
</div>